<body>
<style>
  .modal {
    overflow-y: auto;
  }
</style>
<div class="row no-gutters">
  <div class="col-sm-12">
    <div class="mask">
      <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-sm-12 col-xl-8 p-5">

          <div class="jumbotron">
            <h1 class="display-3">CARS, RACE, PARTY</h1>
            <p class="lead">
              Organizacja imprez, zlotów, eventów związanych z
              <br>
              <b>SAMOCHODAMI</b>
              <br>
              Zobacz kilka zdjęć z naszych eventów, organizowanych w plenerze i nie tylko!

              </p>
            <hr class="my-4">
            <p>Nie pożałujesz! KLIKNIJ w przycisk poniżej by dowiedzieć się więcej</p>
            <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['/products']">Learn more</a>
          </div>
          <div class="col-xl-6"></div>


        </div>
      </div>
    </div>
      <video src="https://guam.wsi.edu.pl/share/x47b.mp4"
             [autoplay]="true" [muted]="true" [loop]="true" playsinline>
      </video>
  </div>
</div>
</body>
