<div class="row no-gutters" id="productpage" id="container">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header h3">
        Jeździmy po całej polsce
      </div>
      <div class="card-body" id="image_1">
        <img src="assets/3_image.jpg">
      </div>
    </div>
    <div class="card" id="bluetoo">
      <div class="card-header h3">
        Organizujemy imprezy nocą
      </div>
      <div class="card-body" id="image_2">
        <img src="assets/4_image.jpg">
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header h3">
        Profesjonalna obsługa
      </div>
      <div class="card-body" id="image_3">
        <img src="assets/2_image.jpg">
      </div>
    </div>
    <div class="card">
      <div class="card-header h3">
        Eventy o określonej tematyce
      </div>
      <div class="card-body" id="image_4">
        <img src="assets/1_image.jpg">
      </div>

    </div>

  </div>
</div>
